{% load staticfiles %}

<html>

<head>

    <title>{% block head_title %}{% endblock %} Easy Returns</title>
    {% include 'head.html' %}
</head>

<body>

    <!-- Header -->
        <header id="header" class="skel-layers-fixed">
            <h1><a href="index.html">Easy Returns</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="login.html" class="button">Sign Up / Login</a></li>

                </ul>
            </nav>
        </header>

		<!-- Main -->
        <section id="main" class="container 75%">
                <h1>
                   {{ title }}  {{ user }}
                </h1>
            <div class="box">
                {% block content %}
                        <html>
                            <body>
                                <form method="POST" action="#"> {% csrf_token %}
                                    {{form.as_p}}
                                    <input type ="submit" value="signup">
                                </form>
                            </body>
                        </html>
                {% endblock %}
            </div>
        </section>

    <!-- Footer -->
        {% include 'footer.html' %}

</body>
</html>